.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --background-color: #2e2f42;
  --accent-color: #404bbf;
  --footer-slogan-color: #e7e9fc;
  --logo-web-color: #4d5ae5;
  --main-hero-color: #ffffff;
  --team-section-color: #f4f4fd;
  --btn-accent-color: #404bbf;
}

h1,
h2,
h3,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

/* HEADER  */

.header {
  background-color: var(--header-color);
  display: flex;
  height: 72px;
}

.header-nav {
  display: flex;
  margin-left: 156px;
}

.logo-studio {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
}

.logo-web {
  color: var(--logo-web-color);
}

.header-list {
  display: flex;
  padding-top: 24px;
  margin-left: 36px;
}

.header-item {
  padding-left: 40px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--background-color);
}

.current {
  color: var(--btn-accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-address {
  font-style: normal;
  padding-top: 24px;
}

.header-adr-list {
  display: flex;
  margin-left: 332px;
}

.header-adr-item {
  padding-right: 40px;
}

.header-adr-link {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: inherit;
}
.header-adr-link:hover,
.header-adr-link:focus {
  color: var(--accent-color);
}

/* MAIN HERO */

.main-hero {
  background-color: var(--background-color);
  width: 1470px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-hero-slogan {
  font-weight: 700;
  font-size: 56px;
  line-height: calc(60 / 56);
  letter-spacing: 0.02em;
  color: var(--main-hero-color);
  width: 504px;
  height: 120px;
}

.main-btn {
  background: var(--logo-web-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  /* align-items: center; */
  /* justify-items: center; */
  letter-spacing: 0.04em;
  color: var(--main-hero-color);
  font-family: inherit;
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--accent-color);
}

/* MAIN OUR STRENTH */

.our-strenth {
  margin-top: 113px;
}

.main-strenth {
  display: flex;
  width: 1128px;
  height: 104px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 24px;
}

.main-strenth-list {
}

.main-strenth-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--background-color);
  margin-bottom: 8px;
}

.main-strenth-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
}

/* MAIN WHAT WE ARE DOING */

.what-doing {
  width: 1128px;
  height: 412px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 113px;
  margin-bottom: 120px;
}

.main-doing {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color);
  margin-bottom: 72px;
}

.main-doing-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.main-doing-item {
}

/* OUR TEAM */

.team-section {
  background-color: var(--team-section-color);
  height: 732px;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color);
  padding-top: 120px;
  margin-bottom: 72px;
}

.team-gallery {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-list {
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-color);
  margin-top: 32px;
}

.team-list-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 8px;
}

/* FOOTER */

.footer {
  background-color: var(--background-color);
  height: 310px;
}

.footer-combi {
  width: 420px;
  height: 110px;
  padding-top: 100px;
  padding-left: 156px;
}

.footer-slogan {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--footer-slogan-color);
  margin-top: 16px;
}

.logo-studio-white {
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--team-section-color);
}
/* PORTFOLIO */
.portofolio {
  background-color: var(--header-color);
}
.portf-btn {
  background-color: var(--header-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--logo-web-color);
  font-family: inherit;
}
.portf-btn:hover,
.portf-btn:focus {
  background-color: var(--btn-accent-color);
  color: var(--main-hero-color);
}
.project-list list {
}
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--background-color);
}
.project-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
}
